.mainPhoto {
    /* margin-left: 743px; */
    /* transform: translate(-50%); */
    width: 420px;
    position: absolute;
    left: 743px;
    width: 420px;
}

.modal {
    width: 500px;
    height: 770px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 50px;
    /* margin-top: 25%; */
    /* transform: translateY(-50%); */
}

.instructionForm {
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* text-align: center; */
    /* margin: 0 auto; */
}

.instructionForm input {
    width: 300px;
    height: 50px;
    padding-left: 10px;
    border-radius: 4px;
    border: none;
    outline: solid black 1px;
}

.send {
    border: none;
    background-color: #00d352;
    text-transform: capitalize;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

body {
    margin-top: 0px;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    /* overflow: hidden; */
}

.phone {
    position: absolute;
    width: 420px;
    height: 844px;
    top: 65px;
    left: 743px;
    /* transform: translate(-50%); */
    z-index: 1;
    background-color: #2c3239;
    /* background-color: red; */
    /* outline: solid red 1px; */
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    margin-bottom: 140px;
}

.relativeDiv {
    position: relative;
}

.percents {
    position: absolute;
    z-index: 3;
    left: 1075px;
    top: 18px;
    width: 71px;

}

.cardNumBefore {
    position: absolute;
    /* top: 1150px; */
    z-index: 2;
    color: white;
    /* opacity: .7; */
    font-size: 28px;
    background-color: #172228;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    /* left: 145px; */
}

.rel {
    position: absolute;
    top: 1150px;
    z-index: 2;
    background-color: #172228;
    left: 145px;
}

.ball {}

.trans {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 1100px;

}

.mainPhoto2 {
    position: relative;
    top: -913px;
    width: 420px;
}

.lineIphone {
    background-color: #444d56;
    position: absolute;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    left: 953px;
    transform: translate(-50%);
    top: 75px;
    z-index: 2;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 774px;
    top: 15px;
    z-index: 3;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .7px;
    background-color: black;
    width: 44.2px;
}

.dots {
    /* height: 10px; */
    margin-top: -2.5px;
}

/* .lineHorizont {
    width: 100%;
    position: absolute;
    height: 1px;
    top: 910px;
    z-index: 5;
    background-color: blue;
    padding-bottom: 2400px;
} */


.whiteContent {
    position: absolute;
    top: 158px;
    background-color: white;
    left: 767px;
    /* margin-left: 100px; */
    /* transform: translate(-50%); */
    width: 372px;
    height: 261px;
    outline: solid #1d1b1d 8px;
    z-index: 1;
}

.logoImg {
    width: 88px;
    top: 170px;
    /* left: 46px; */
    left: 788px;
    position: absolute;
    z-index: 1;
    /* opacity: .5; */
}

.simmilarOptions {
    font-size: 5px;
    left: 786.5px;
    /* left: 45px; */
    z-index: 4;
    letter-spacing: .6px;
    position: absolute;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    width: 100px;
}

.nameSender {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-size: 12px; */
    position: absolute;
    top: 224px;
    left: 74px;
    margin-left: 51px;
    /* left: 51; */
    letter-spacing: .18px;
    word-spacing: .2px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
    width: 69px;
}

.payer {
    top: 224px;
    /* diff: 21px; */
    /* left: 786.5px; */
    letter-spacing: .7px;
    font-size: 5px;
}

.fullSum {
    /* display: flex; */
    position: absolute;
    top: 263px;
    /* left: 89px; */
    margin-left: 67px;
    /* 66 */
    /* width: 17px; */
    /* background-color: aquamarine; */
    /* display: flex;
    justify-content: space-between; */
    z-index: 3;
    /* opacity: .8; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 5px;
    letter-spacing: 0px;
    /* margin-left: 5px; */
    /* color: rgb(0, 0, 0); */
    width: 200px;
}

.lineIphoneBottom {
    position: absolute;
    left: 878px;
    top: 895px;
    z-index: 3;
    height: 5px;
    width: 150px;
    border-radius: 3px;
    background-color: white;
}

.bankPayer {
    top: 234px;
    /* margin-left: ; */
    /* left: 783px; */
    letter-spacing: .7px;
    word-spacing: -.5px;
    /* font-size: 8px; */
}

.bank {
    margin-left: 69px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 234px;
    left: 92px;
    /* 69 */
    letter-spacing: 0px;
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
    width: 35px;

}

.codeBankPayer {
    top: 244px;
    /* left: 21.5px; */
    /* left: 23.5px; */
    /* left: 78; */
    letter-spacing: .61px;

    /* font-size: 5px; */
}

.classpayer {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 244px;
    left: 108px;
    margin-left: 85px;
    /* 85 */
    /* letter-spacing: -.3px; */
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
}

.rahunok {
    top: 253px;
    /* left: 45px; */
    letter-spacing: .6px;
    /* word-spacing: 0px; */
    font-size: 5px;
}

/* .platnyka {
    letter-spacing: .2px;
} */

.bankCodeText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 253px;
    left: 102px;
    /* 79 */
    letter-spacing: .2px;
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
    margin-left: 79px;
    width: 122px;
}

.numbersAfterUA {
    margin-left: -1px;
    letter-spacing: .35px;
}

.sumOperationText {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* font-size: 10px; */
    /* font-size: 6px; */
    top: 263px;
    /* left: 786.5px; */
    z-index: 4;
    letter-spacing: .5px;
}

.operacii {
    letter-spacing: .01px;
}

.commisions {
    top: 272px;
    letter-spacing: .5px;
}

.comissionsText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 272px;
    left: 70px;
    /* 47 */
    letter-spacing: .3px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 47px;
    width: 25px;
    /* margin-left: 47px; */
}

.getter {
    top: 281px;
    letter-spacing: .7px;
}

.getterText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 281px;
    left: 82px;
    /* 59 */
    letter-spacing: .35px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 59px;
}

.dateAndTime {
    top: 291px;
    letter-spacing: .5px;
    /* word-spacing: -1px; */
}

.operationSession {
    letter-spacing: 0.02px;
}

.date {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 291px;
    left: 140px;
    /* 117 */
    letter-spacing: .3px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 117px;
    width: 53px;
}

.verticalLine {
    position: absolute;
    height: 100vh;
    width: 1px;
    top: 0;
    /* background-color: red; */
    left: 1117px;
    z-index: 9;
}

.textDescription {
    left: 764px;
    /* width: fit-content; */
}



.numberKvitancia {
    position: absolute;
    top: 201px;
    /* left: 45px; */
    left: 786px;
    z-index: 2;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 12px;
    letter-spacing: .07px;
    word-spacing: -.4px;
    display: flex;
    align-items: center;
    width: 214px;
}

.divKvitancia {
    letter-spacing: -.3px;
    font-size: 13px;
    padding-left: 3px;
}

.signifitureBank {
    position: absolute;
    top: 365px;
    left: 787px;
    /* left: 22; */
    z-index: 2;
    font-size: 6px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* font-size: 13px; */
    letter-spacing: -.1px;
    word-spacing: -.4px;
    width: 45px;
}

.head {
    z-index: 2;
    position: absolute;
    top: 375px;
    font-size: 5px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 390;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* left: 45px; */
    /* left: 23px; */
    left: 787px;
    letter-spacing: .3px;
    width: 49px;
}

.atAbank {
    position: absolute;
    top: 385px;
    left: 787px;
    /* left: 22; */
    z-index: 2;
    font-size: 6px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* font-size: 13px; */
    letter-spacing: -.3px;
    word-spacing: -.4px;
    width: 34px;
}

.nameDirector {
    position: absolute;
    top: 375px;
    /* left: 177px; */
    left: 919px;
    /* left: 154; */
    z-index: 2;
    font-size: 5px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    /* font-size: 13px; */
    letter-spacing: .5px;
    word-spacing: -.3px;
    width: 50px;
}

.inicials {
    word-spacing: -2.2px;

}

.stamp {
    position: absolute;
    z-index: 2;
    top: 357px;
    /* left: 100px; */
    left: 842px;
    /* left 76 */
    width: 76px;
    /* opacity: .5; */
    /* outline: solid 1px red; */
}

.describingHelp {
    position: absolute;
    top: 169px;
    /* left: 284px; */
    left: 1026px;
    /* 260 */
    width: 91px;

    color: #778396;
    z-index: 2;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    text-align: right;
    font-size: 4px;
    letter-spacing: .17px;
}

.backQr {
    position: absolute;
    top: 222px;
    /* left: 316px; */
    /* left: 24px; */
    /* 90 */
    left: 1058px;
    background-color: #e9fff3;
    width: 58px;
    height: 76px;
    z-index: 2;
    /* opacity: .5; */
}

.qrimg {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 46px;
}

.qrBonus {
    position: absolute;
    top: 55px;
    left: 5px;
    font-size: 4px;
    color: rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    letter-spacing: -.18px;
    /* opacity: 1; */
}

.andFifty {
    font-weight: 500;
}

.button {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 824px;
    left: 775px;
    /* left: 33px; */
    /* left: 0px; */
    /* width: 354px; */
    /* height: 49px; */
    border-radius: 24px;
    z-index: 2;
    background-color: #00d352;
    /* opacity: .5; */
    letter-spacing: .3px;
    padding-left: 139px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 124px;
    /* margin-top: -100px; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* #00d352 */