.mainPhoto {
    margin-left: 50%;
    transform: translate(-50%);
    width: 420px;
}

body {
    margin-top: 1px;
    padding: 0;
    overflow: hidden;
}

.phone {
    position: absolute;
    width: 420px;
    height: 844px;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    background-color: #303942;
    /* background-color: red; */
    /* outline: solid red 1px; */
    border-top-left-radius: 17px;
    border-top-right-radius: 17px;
}

.relativeDiv {
    position: relative;
}

.mainPhoto2 {
    position: relative;
    top: -913px;
    width: 420px;
}

.lineIphone {
    background-color: #444d56;
    position: absolute;
    width: 114px;
    height: 4px;
    border-radius: 2px;
    left: 50%;
    transform: translate(-50%);
    top: 75px;
    z-index: 2;
}

.lineHorizont {
    width: 100%;
    position: absolute;
    height: 1px;
    top: 910px;
    z-index: 5;
    background-color: blue;
}


.whiteContent {
    position: absolute;
    top: 158px;
    background-color: white;
    left: 50%;
    /* margin-left: 100px; */
    transform: translate(-50%);
    width: 372px;
    height: 261px;
    outline: solid #1d1b1d 8px;
    z-index: 1;
}

.logoImg {
    width: 88px;
    top: 170px;
    /* left: 46px; */
    left: 788px;
    position: absolute;
    z-index: 1;
    /* opacity: .5; */
}

.simmilarOptions {
    font-size: 5px;
    left: 786.5px;
    /* left: 45px; */
    z-index: 4;
    letter-spacing: .6px;
    position: absolute;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.nameSender {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* font-size: 12px; */
    position: absolute;
    top: 224px;
    left: 74px;
    margin-left: 51px;
    /* left: 51; */
    letter-spacing: .18px;
    word-spacing: .2px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
}

.payer {
    top: 224px;
    /* diff: 21px; */
    /* left: 786.5px; */
    letter-spacing: .7px;
    font-size: 5px;
}

.fullSum {
    /* display: flex; */
    position: absolute;
    top: 262px;
    /* left: 89px; */
    margin-left: 66px;
    /* 66 */
    /* width: 17px; */
    /* background-color: aquamarine; */
    /* display: flex;
    justify-content: space-between; */
    z-index: 3;
    /* opacity: .8; */
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: 6px;
    letter-spacing: -.2px;
    /* color: rgb(0, 0, 0); */
}

.bankPayer {
    top: 234px;
    /* margin-left: ; */
    /* left: 783px; */
    letter-spacing: .7px;
    word-spacing: -.5px;
    /* font-size: 8px; */
}

.bank {
    margin-left: 69px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 233px;
    left: 92px;
    /* 69 */
    letter-spacing: -.5px;
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 6px;

}

.codeBankPayer {
    top: 244px;
    /* left: 21.5px; */
    /* left: 23.5px; */
    /* left: 78; */
    letter-spacing: .61px;

    /* font-size: 5px; */
}

.classpayer {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 243px;
    left: 108px;
    margin-left: 85px;
    /* 85 */
    letter-spacing: -.3px;
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 6px;
}

.rahunok {
    top: 253px;
    /* left: 45px; */
    letter-spacing: .6px;
    /* word-spacing: 0px; */
    font-size: 5px;
}

/* .platnyka {
    letter-spacing: .2px;
} */

.bankCodeText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 253px;
    left: 102px;
    /* 79 */
    letter-spacing: .2px;
    word-spacing: 0px;
    /* background-color: red; */
    z-index: 2;
    font-size: 5px;
    margin-left: 79px;
}

.numbersAfterUA {
    margin-left: -1px;
    letter-spacing: .35px;
}

.sumOperationText {
    position: absolute;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    /* font-size: 10px; */
    /* font-size: 6px; */
    top: 263px;
    /* left: 786.5px; */
    z-index: 4;
    letter-spacing: .5px;
}

.operacii {
    letter-spacing: .01px;
}

.commisions {
    top: 272px;
    letter-spacing: .5px;
}

.comissionsText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 272px;
    left: 70px;
    /* 47 */
    letter-spacing: .3px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 47px;
    /* margin-left: 47px; */
}

.getter {
    top: 281px;
    letter-spacing: .7px;
}

.getterText {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 281px;
    left: 82px;
    /* 59 */
    letter-spacing: .35px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 59px;
}

.dateAndTime {
    top: 291px;
    letter-spacing: .5px;
    /* word-spacing: -1px; */
}

.operationSession {
    letter-spacing: 0.02px;
}

.date {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    position: absolute;
    top: 291px;
    left: 140px;
    /* 117 */
    letter-spacing: .3px;
    word-spacing: 0px;
    z-index: 2;
    font-size: 5px;
    margin-left: 117px;
}

.verticalLine {
    position: absolute;
    /* left: 780px; */
    /* left: 765px; */
    /* left: 45px; */
/* left: 23px; */
    top: 0;
    height: 100%;
    width: 1px;
    background-color: red;
    z-index: 5;
}

.textDescription {
    left: 766px;
}

/* 303942 */